@font-face {
  font-family: 'OSBold';
  src: url(../fonts/OpenSans-Bold.ttf);
  font-weight: bold;
}

@font-face {
    font-family: 'OSLight';
    src: url(../fonts/OpenSans-Light.ttf);
}

@font-face{
    font-family: 'OSReg';
    src: url(../fonts/OpenSans-Regular.ttf);
}