.header {
  grid-area: header;
  min-height: 124px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__navigation {
  display: flex;
  justify-content: space-between;
  max-width: 520px;
  width: 100%;
}

.header__navigationLink {
  text-decoration: none;
  color: var(--c-midnight);
  font-family: var(--f-bold);
  font-size: 16px;
}

.header__tagline {
  font-family: var(--f-bold);
  font-size: 22px;
}
