@import 'variables.css';
@import 'header.css';
@import 'font.css';
@import 'hero.css';
@import 'common.css';

body {
  margin: 0;
}

.mainWrapper {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  display: grid;
  grid-template-areas: 
  '. header .'
  '. heroMain .'
  '. courses .'
  '. heroSecond .'
  'request request request';
  grid-template-columns: 92px 1fr 92px;
  font-family: var(--f-reg); 
  color: var(--c-midnight);
}