@import 'variables.css';
@import 'header.css';
@import 'font.css';
@import 'hero.css';
@import 'courses.css';
@import 'heroSecond.css';
@import 'common.css';
@import 'adv.css';
@import 'request.css';
@import 'footer.css';

body {
  margin: 0;
}

.mainWrapper {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  display: grid;
  grid-template-areas: 
  '. header .'
  '. heroMain .'
  '. courses .'
  '. heroSecond .'
  '. adv .'
  'request request request'
  'footer footer footer';
  grid-template-columns: 92px 1fr 92px;
  font-family: var(--f-reg); 
  color: var(--c-midnight);
}