@import 'variables.css';
@import 'header.css';

body {
  margin: 0;
}

.page {
  margin: auto;
  width: 1600px;
}

.wrapper {
  margin: 0 92px;
}

.hero {
  background-image: url('/images/hero.png');
  height: 708px;
  color: white;
}

.selectCourse {
  width: 550px;
}

.selectCourse_title{
  font-size: 58px;
}