:root {
    --f-bold: 'OSBold';
    --f-reg: 'OSReg';
    --f-light: 'OSLight';
    --f-natural: 'Natural';

    --c-midnight: #001A34;
    --c-white: #FFF;
    --c-ozon-blue: #005BFF;
    --c-mystic:  #dee5de;
    --c-dark-space: #667585;
    --c-kadet-blue: #B2BAC2;
    --c-mystic-2: #E9EEF1;
    --c-aqua-haze: #EFF3F6;
    --c-ozon-blue-10: #E0EBFF;
    --c-ozon-blue-50: #7FADFF;
    --c-geyser: #CCD4DB;
    --c-solitude: #E5EBF0;
}